
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Wallpaper Proposal</title>
  </head>
  <body>

    {% load static %}        
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Wallpaper Proposal</h1>
          <hr class="mt-0 mb-4">
          {% if product_list %}
                <table class="table table-bordered">
                    {% for item in  product_list  %}
                            <tr>
                                <td> {{ item.color }} </td>
                                <td> 
                                    <img src="{% static item.img_path %}" 
                                    alt="Image" class="img-thumbnail" width=80 height=80> 
                                </td>
                                <td> {{ item.material }} </td>
                            </tr>
                    {% endfor %}
                </table>
          {% endif %}

        <li><a href="parameters"> To Beginning</a></li>
        </div>
      </div>
    </div>
  </body>
</html>

